{% extends "base-out.html" %}
{% block content %}
    <div class="container">
      <!--{% if user %}
      <p>Usuario actual: {{ user }}</p>
      {% endif %}
      <div>{{context}}</div>-->
      <!--<form class="form-signin" action="{% url 'registro' %}" method="post"> {% csrf_token %}
        <h2 class="form-signin-heading">Registrarse</h2>
        
        <div class="form-group">
            <label for="uname" class="sr-only">Nombre de usuario</label>
            <input type="text" id="usname" class="form-control" placeholder="Nombre de usuario" required autofocus>
            
            <label for="pword" class="sr-only">Contrase&ntilde;a</label>
            <input type="password" id="pword" class="form-control" placeholder="Contrase&ntilde;a" required>
            <label for="pword2" class="sr-only">Repita la contrase&ntilde;a</label>
            <input type="password" id="pword2" class="form-control" placeholder="Contrase&ntilde;a" required>
        </div>
        <div class="form-group">
            <label for="credit" class="sr-only">Tarjeta de cr&eacute;dito</label>
            <input type="number" id="credit" class="form-control" placeholder="Tarjeta de cr&eacute;dito" required>
        </div>
        
        <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit">Registrarse</button>
        </div>
        <div class="form-group">
            <a class="btn btn-lg btn-default" href="../login">Cancelar</a>
        </div>
      </form>-->
        <form class="form-signin" action="{% url 'registro' %}" method="post"> {% csrf_token %}
          <h2 class="form-signin-heading">Registrarse</h2>
          
          <div class="form-group">
          {{ form }}
          </div>
          
          {% if mensaje %}
            <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4>Aviso</h4>
              <p>{{ mensaje }}</p>
            </div>
          {% endif %}
          
          <div class="form-group">
            <button class="btn btn-lg btn-primary" type="submit">Registrarse</button>
          </div>
          <div class="form-group">
            <a class="btn btn-lg btn-link" href="../login">Iniciar sesi&oacute;n</a>
          </div>
        </form>
    </div>
    <script>
    $(function() {
        // Ocultamos el primer error si es el que nos indica que fallan las contraseñas
        if ($('.errorlist:first-child li').html() == "")
            $('.errorlist:first-child').css({'display':'none'})
    });
    </script>
{% endblock %}